meta(charset="utf-8")
title= site.title
meta(name="viewport", content="width=device-width, initial-scale=1")
script(src="scripts/index.js", async)
link(href="styles/index.css", rel="stylesheet", async)
